:root {
  --poppins: "Poppins", sans-serif;
  --open-sans: "Open Sans", sans-serif;
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}
body {
  font-family: var(--open-sans);
  font-weight: 400;
  text-align: center;
  color: var(--very-dark-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
h1 {
  font-family: var(--poppins);
}
h2 {
  font-size: 72px;
}
h3 {
  font-weight: 700;
  font-size: 32px;
}
p {
  padding: 20px;
  margin: 0px 100px;
}
.curve {
  width: 100%;
}
.container {
}
.grow-together,
.your-users {
  background: var(--very-pale-blue);
  margin-top: -30px;
}

.row {
  display: grid;
  grid-template-columns: 360px 360px;
  justify-content: space-around;
  padding: 60px;
}
.col {
  text-align: left;
}
.header-row {
  display: grid;
  grid-template-columns: 200px 250px;
  justify-content: space-between;
  padding: 40px;
}
footer {
  background: var(--very-dark-cyan);
  margin-top: -5px;
  color: white;
  font-size: 12px;
}
button {
  background: var(--pink);
  border: none;
  padding: 15px 40px;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  box-shadow: 3px 3px 7px var(--very-pale-blue);
  margin: 60px;
}
input {
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid white;
  margin: 60px 10px 10px 0px;
}
.try-btn {
  background: white;
  padding: 7px 20px;
  border: 1px solid var(--pink);
  border-radius: 20px;
  color: var(--pink);
  margin: 0px;
}
.footer-btn {
  border-radius: 3px;
  font-size: 18px;
  border: 1px solid var(--pink);
  padding: 7px 20px;
  box-shadow: none;
  margin: 10px 0px 0px 0px;
}

.footer-col h4 {
  font-size: 24px;
  margin-top: 12px;
}
.footer-col p {
  padding: 0px;
  margin: 26px 0px 24px 0px;
}
